.products {
    background: rgba(36, 137, 234, 0.18);
    padding: 1em;
    margin: 2em 0 3em;
    //p {
    //    display: block;
    //    position: relative;
    //    background-color: #16a085;
    //    color: #FFF;
    //    padding: 2em;
    //    text-align: center;
    //    margin-bottom: 1em;
    //    font-size: 1.5em;
    //}
    table {
        background: rgba(112, 116, 234, 0.64);
        tr {
            border: 1px solid black;
            text-align: right;
        }
    }
}
